.itemsContainer {
    display: flex;
}

.filtemForm {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.itemsContent {
    flex: 3;
    display: flex;
    padding: 20px;
}

.itemsGrid {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.itemCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.itemCard:hover {
    background-color: #eee;
}