.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #073b4c;
    color: white;
}

.column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleColumn {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.column a {
    display: block;
    margin-bottom: 10px;
}
